
.ipynb_checkpoints/imaging_model-checkpoint.ipynb
.ipynb_checkpoints/temp_data_objects_testing-checkpoint.ipynb
.ipynb_checkpoints/temp_func_testing-checkpoint.ipynb
__pycache__/data_objects.cpython-39.pyc
.ipynb_checkpoints/imaging_model (old)-checkpoint.ipynb
.ipynb_checkpoints/imaging_model_test_cases-checkpoint.ipynb
__pycache__/imaging_model.cpython-39.pyc
temp_func_testing.ipynb
temp_func_testing.ipynb
temp_func_testing.ipynb
temp_func_testing.ipynb
temp_func_testing.ipynb
.ipynb_checkpoints/temp_func_testing_matrix_A-checkpoint.ipynb
.ipynb_checkpoints/temp_function_testing_FIM-checkpoint.ipynb
__pycache__/information_matrix.cpython-39.pyc
